encryption = "age"

{{ $osid := .chezmoi.os }}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

[data]
    osid = {{ $osid | quote }}

[age]
    command = "rage"
    identity = "~/.ssh/id_ed25519"
    recipient = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIOTdYWG7wJd9UDKJFfCKx6Yin1vWfrDSbn2WpjTVUis+ msdx321@gmail.com"
