encryption = "age"

{{ $osid := .chezmoi.os }}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

[data]
    osid = {{ $osid | quote }}
    isDarwin = {{ eq .chezmoi.os "darwin" }}
    isLinux = {{ eq .chezmoi.os "linux" }}
    isArch = {{ or (eq $osid "linux-arch") (eq $osid "linux-archarm") }}
    isPersonalDevice = {{ or
        (eq .chezmoi.hostname "msdx321-ws" "msdx321-pc" "mbk-24-0346")
        (eq .chezmoi.username "msdx321")
    }}
    hasDesktop = {{ env "DESKTOP_SESSION" | not | not }}

[age]
    command = "rage"
    identity = "~/.ssh/id_ed25519"
    recipient = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIOTdYWG7wJd9UDKJFfCKx6Yin1vWfrDSbn2WpjTVUis+ msdx321@gmail.com"
