# ----------------------------------
# Basic Configuration
# ----------------------------------
zstyle ':fzf-tab:*' fzf-command ftb-tmux-popup
zstyle ':prezto:module:tmux:auto-start' local 'yes'
zstyle ':prezto:module:tmux:auto-start' remote 'yes'
zstyle :omz:plugins:ssh-agent agent-forwarding yes
zstyle :omz:plugins:ssh-agent quiet yes

FZF_TMUX=1
FZF_TMUX_OPTS='-p80%'
ZIM_HOME=~/.zim
ZSH_CACHE_DIR=~/.zim/cache
export EDITOR="vim"
export PATH="$HOME/.local/bin:$PATH"

# ----------------------------------
# TPM Installation
# ----------------------------------
if [[ ! -f $HOME/.tmux/plugins/tpm/tpm ]]; then
  print -P "%F{33} %F{220}Installing TPM"
  command mkdir -p "$HOME/.tmux/plugins" && command chmod g-rwX "$HOME/.tmux/plugins"
  command git clone https://github.com/tmux-plugins/tpm "$HOME/.tmux/plugins/tpm" && \
    print -P "%F{33} %F{34}Installation successful.%f%b" || \
    print -P "%F{160} The clone has failed.%f%b"
fi

# ----------------------------------
# zimfw section
# ----------------------------------
# Download zimfw plugin manager if missing.
zstyle ':zim:zmodule' use 'degit'
[[ ! -d $ZSH_CACHE_DIR ]] && command mkdir -p "$ZSH_CACHE_DIR"
if [[ ! -e ${ZIM_HOME}/zimfw.zsh ]]; then
  curl -fsSL --create-dirs -o ${ZIM_HOME}/zimfw.zsh \
      https://github.com/zimfw/zimfw/releases/latest/download/zimfw.zsh
fi

# Install missing modules and update ${ZIM_HOME}/init.zsh if missing or outdated.
if [[ ! ${ZIM_HOME}/init.zsh -nt ${ZIM_CONFIG_FILE:-${ZDOTDIR:-${HOME}}/.zimrc} ]]; then
  source ${ZIM_HOME}/zimfw.zsh init -q
fi

# Initialize modules.
source ${ZIM_HOME}/init.zsh

# ----------------------------------
# Alias Configurations
# ----------------------------------
# Alias 'vim' to 'nvim' if 'nvim' is installed
if [[ -n "$(command -v nvim)" ]]; then
  alias vim="nvim"
fi

# Alias 'git' to 'lazygit' when no arguments are provided, if 'lazygit' is installed
if [[ -n "$(command -v lazygit)" ]]; then
  git() {
    if [[ $# -eq 0 ]]; then
      lazygit
    else
      # Use the original 'git' command for all other cases
      command git "$@"
    fi
  }
fi

# ----------------------------------
# Load Powerlevel10k Configuration
# ----------------------------------
# Load Powerlevel10k configuration if it exists
if [[ -f ~/.p10k.zsh ]]; then
  source ~/.p10k.zsh
fi