zmodule sorin-ionescu/prezto --root modules/tmux --no-submodules

zmodule ohmyzsh/ohmyzsh -s lib/git.zsh
zmodule ohmyzsh/ohmyzsh --root plugins/fancy-ctrl-z
zmodule ohmyzsh/ohmyzsh --root plugins/fasd
zmodule ohmyzsh/ohmyzsh --root plugins/fzf
zmodule ohmyzsh/ohmyzsh --root plugins/git --fpath git
zmodule ohmyzsh/ohmyzsh --root plugins/gpg-agent
zmodule ohmyzsh/ohmyzsh --root plugins/ssh-agent
zmodule ohmyzsh/ohmyzsh --root plugins/sudo
zmodule sorin-ionescu/prezto --root modules/directory --no-submodules
zmodule sorin-ionescu/prezto --root modules/helper --no-submodules
zmodule Aloxaf/fzf-tab
zmodule MohamedElashri/eza-zsh
zmodule chrissicool/zsh-256color
zmodule hlissner/zsh-autopair
zmodule laggardkernel/zsh-thefuck
zmodule wookayin/fzf-fasd
zmodule zsh-users/zsh-completions --fpath src
zmodule completion
zmodule zsh-users/zsh-syntax-highlighting
zmodule zsh-users/zsh-autosuggestions

zmodule romkatv/powerlevel10k
