zmodule sorin-ionescu/prezto --root modules/tmux --no-submodules

zmodule ohmyzsh/ohmyzsh --root lib --source git.zsh
zmodule ohmyzsh/ohmyzsh --root lib --source compfix.zsh
{{- if .isDarwin }}
zmodule ohmyzsh/ohmyzsh --root plugins/brew
{{- end}}
zmodule ohmyzsh/ohmyzsh --root plugins/fancy-ctrl-z
zmodule ohmyzsh/ohmyzsh --root plugins/fasd
zmodule ohmyzsh/ohmyzsh --root plugins/fzf
zmodule ohmyzsh/ohmyzsh --root plugins/gpg-agent
zmodule ohmyzsh/ohmyzsh --root plugins/ssh-agent
zmodule ohmyzsh/ohmyzsh --root plugins/sudo
zmodule sorin-ionescu/prezto --root modules/directory --no-submodules
zmodule sorin-ionescu/prezto --root modules/helper --no-submodules
zmodule sorin-ionescu/prezto --root modules/history --no-submodules
zmodule Aloxaf/fzf-tab
zmodule MichaelAquilina/zsh-you-should-use
zmodule MohamedElashri/eza-zsh
zmodule aubreypwd/zsh-plugin-reload
zmodule chrissicool/zsh-256color
zmodule davidde/git
zmodule fdellwing/zsh-bat
zmodule hlissner/zsh-autopair
zmodule laggardkernel/zsh-thefuck
{{- if or .hasDesktop .isDarwin }}
zmodule mattmc3/zsh-safe-rm --use git
{{- end}}
zmodule momo-lab/zsh-replace-multiple-dots --source replace-multiple-dots.plugin.zsh
zmodule msdx321/fzf-glue
zmodule msdx321/zsh-history-on-success
zmodule wookayin/fzf-fasd
zmodule zsh-users/zsh-completions --fpath src
{{- if stat (joinPath .chezmoi.homeDir ".local/share/zsh/generated_man_completions") }}
zmodule {{ .chezmoi.homeDir }}/.local/share/zsh --fpath generated_man_completions
{{- end }}
zmodule msdx321/completion
zmodule zsh-users/zsh-syntax-highlighting
zmodule zsh-users/zsh-autosuggestions

zmodule romkatv/powerlevel10k
